<p class="footer">&copy; Copyright 2022 Armani Johnson</p>

<style>
    footer{
        bottom: 0;
        position:fixed;
        margin: 0;
        width: 50%;
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
    }
</style>


