<p class="text-center text-muted">&copy; Copyright 2022 Armani Johnson</p>

<style>
    body{
        background-color: aliceblue;
        bottom: 0;
        padding-top: 30px;
        text-align: center;
    }
</style>