<style>
    .nav-title{
        font-family: 'VT323', monospace;
        font-size: 20px;
        color: #354f52;   
    }
    
</style>


<style>
    body{
        font-family: 'Overpass', sans-serif;
      
    }
    body li{
        list-style-type: none;
        padding-left: 10px;
    }
    body a{
        text-decoration-line: none;
        
    }
    a:hover {
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color: #41403e;
    cursor: pointer;
    }
    body ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        color: #354f52;
        position: absolute;
        top: 0;
        
    }

</style>




<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/"><i></i></a>

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <h4><a class="nav-link" href="/">Home</a></h4>

      </li>

      <li class="nav-item">

        <h4><a class="nav-link" href="/manga">Manga</a></h4>

      </li>
      
      <li class="nav-item">

        <h4><a class="nav-link" href="/log-out">Log-Out</a></h4>

      </li>
 
    </ul>
  </nav>