<!DOCTYPE html>

<html lang="en">

  <meta charset="UTF-8">
  

<head>

  <link rel = "stylesheet" href = "/stylesheets/index.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&family=VT323&display=swap" rel="stylesheet">



  <title>my-manga-list</title>

 
</head>

<header class="header">
  <%- include('../partials/header'); %>
</header>

<body>

  <div class="container">

    <div class="wrapper">

    <h1 class="heading">My Manga List</h1>

    <% messages.forEach((msg) =>{ %>
      <p><%= msg %></p>
   <% }) %>

  <% if (currentUser) {%>
    <h1 >Hello, <%= currentUser.name %>!</h1>


    <p class="welcome">Welcome back to your manga list!</p>

    <h2 class="desc">Create your list!</h2>

    <p>Create your own personalized list from different 
      titles on this graphic novel database.
    </p>

    <h2 class="desc">Want to stay up to date?</h2>

    <p>Use your list to track and organize 
      what you want to read, are currently reading or plan to
      read.
    </p>

    <div class="anch">
    
    <a class="list" href="/manga">My list</a>



    <a class="log" href="/log-out">Log out</a>

  </div>

  <% } else { %>
    <h1 class="form-sign-in">Please log in or <a href="/sign-up">create an account!</a></h1>
    <form action="/log-in" method="post" name="Login_Form" class="form-signin">

      <h3>Create your list!</h3>

      <p class="descrip">Create your own personalized list from different 
        titles on this graphic novel database.
      </p>
  
      <h3>Want to stay up to date?</h3>
  
      <p class="descrip">Use your list to track and organize 
        what you are currently reading or plan to
        read.
      </p>
  
      <p>Welcome back to your manga list!</p>
               
      <h2 class="form-signin-heading">Sign In</h2>
      <!-- <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" /> -->
      <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
      <input type="password" id="pass-form" class="form-control" name="password" placeholder="Password" required=""/>
      <button class="btn-1" name="Submit" value="Login" type="Submit">Login</button>
      </form>
  </div>
</div>
  <%}%>

</body>

<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

</html>