<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted</title>

</head>

<body>
   <p>This page is restricted.  You can't see it unless you are logged on.</p>

   <p><a href="/">Back to the home page.</a></p>
   
</body>

</html>