<!DOCTYPE html>

<html lang="en">

  <meta charset="UTF-8">
  

<head>

  <link rel = "stylesheet" href = "/stylesheets/sign.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&family=VT323&display=swap" rel="stylesheet">



  <title>my-manga-list</title>

 
</head>

<header class="header">
  <%- include('../partials/header'); %>
</header>


  <body>

      <h1>Sign Up</h1>
     
      <form action="" method="post">
    
        <label for="name">Name</label>
    
        <input name="name" placeholder="name" type="text" />
    
        <label for="email">Email</label>
    
        <input name="email" type="email" />
    
        <label for="password">Password</label>
    
        <input name="password" type="password" />
    
        <button>Sign Up</button>
    
      </form>
    

</body>

<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

</html>

